{% extends 'base.html.twig' %}

 {% block title %}
 {{ parent() }} - Consultas
 {% endblock %}

{% block body %}
<a href="{{ path('adiciondatos')}}">Registrar Canciones</a> <br><br>

{# Mensaje de eliminación #}
{% for flash_message in app.session.flashbag.get('notice') %}
    <div class="alert alert-danger" role="alert">
    <strong>TU CANCIÓN HA SIDO ELIMINADA,</strong> 
        {{ flash_message }}
    </div>
{% endfor %}

{# Mensaje de actualización #}
{% for flash_message in app.session.flashbag.get('noticeupdate') %}
    <div class="alert alert-success" role="alert">
  <strong>TU CANCIÓN FUE ACTUALIZADA,</strong>
        {{ flash_message }}
    </div>
{% endfor %}

<script src="/public/js/main.js"></script>
{# <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> #}


<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table id="articles" class="table">
<thead class="thead-light">
    <tr>
        {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
        <th{% if pagination.isSorted('canciones.nombreCancion') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Nombre de Canción', 'canciones.nombreCancion') }}
        </th>
        <th{% if pagination.isSorted('canciones.genero') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Genero', 'canciones.genero') }}
        </th>
          <th{% if pagination.isSorted('canciones.tonalidad') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Tonalidad', 'canciones.tonalidad') }}
        </th>
          <th{% if pagination.isSorted('canciones.tempo') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Tempo', 'canciones.tempo') }}
        </th>
          <th{% if pagination.isSorted('canciones.tematica') %} class="sorted"{% endif %}>
          {{ knp_pagination_sortable(pagination, 'Tematica', 'canciones.tematica') }}
        </th>
         <th{% if pagination.isSorted('a.acciones') %} class="sorted"{% endif %}>
          {{ knp_pagination_sortable(pagination, 'Acciones', 'a.acciones') }}
        </th>

     
    </tr>

    {# table body #}
    {% for article in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ article.id }}</td>
            <td>{{ article.nombreCancion }}</td>
            <td>{{ article.genero }} </td>
            <td>{{ article.tonalidad }} </td>
            <td>{{ article.tempo }} </td>
            <td>{{ article.tematica }} </td>
            <td><a class="btn btn-warning" href="{{ path('modificar',{'id': article.id })}}">Modificar</a>
            <a class="btn btn-danger" data-id="{{article.id}}" >Eliminar</a></td>
        
        </tr>
    {% endfor %}
    </thead>

</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>


{% endblock %}